priority 0

snippet inclc "#include <leetcode.h>"
#ifdef __LOCAL__
#include <leetcode.h>
#endif
endsnippet

snippet x "std::"
std::
endsnippet

snippet pln "fmt::print({}\n, );"
fmt::print("{}\n", $1);
endsnippet

snippet ponce "#pragma_once"
#pragma once
endsnippet

snippet str "const std::string"
const std::string
endsnippet
