priority 0

snippet x "std::"
std::
endsnippet

snippet pln "fmt::print({}\n, );"
fmt::print("{}\n", $1);
endsnippet

snippet ponce "#pragma_once"
#pragma once
endsnippet

snippet str "const std::string"
const std::string
endsnippet
