snippet main "Main function"
fn main() -> Result<(), std::io::Error> {
    ${0}
    Ok(())
}
endsnippet

snippet sleep "std::thread::sleep(...)"
std::thread::sleep(std::time::Duration::from_secs(${0}));
endsnippet

# vim:ft=snippets:
